.connexion{
    margin-top: 10%;
}

/* Container principal */
.container {
    align-content: center;
    margin: 50px;
    width: 90%;
}

body {
    font-family: 'Vietnam Pro', sans-serif;
}

  
h2 {
    font-size: 37px;
    text-align: center;
    font-family: 'Baloo 2', sans-serif;
    margin-bottom: 20px;
}

.form {
    display: flex;
    margin: 20px auto;
    flex-direction: column;
    align-items: center;
}

/* Formulaire */
.formulaire-creation-compte {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
}

.form-row {
    display: flex;
    gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-bottom: 20px;
}

/* Labels */
label {
    margin-bottom: 5px;
}

/* Champs d'entrée */
.input-field {
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: rgba(227, 209, 200, 0.71); /* Beige avec opacité */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.input-field:focus {
    background-color: rgba(227, 209, 200, 0.85);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    outline: none;
}

/* Footer section */
.footer {
    font-size: 18px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.footer p {
    font-size: 15px;
    position: relative; /* Nécessaire pour que ::after utilise .footer p comme référence */
}

.footer span {
    font-size: 15px;
    position: relative; /* Nécessaire pour que ::after utilise .footer p comme référence */
}

.footer span::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px; /* Position du soulignement juste en dessous du texte */
    width: 0;
    height: 1px;
    background-color: #997765;
    transition: width 0.3s ease;
}

.footer span:hover::after {
    width: 100%; /* Le soulignement s'étend sur toute la largeur au survol */
}

  
.footer .link-connect {
    color: #997765;
    text-decoration: none;
    cursor: pointer;
}
  
  
.footer .buttons {
    gap: 15px;
}


  
.footer button {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}
  
.btn-retour {
    background-color: #997765;
    color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.footer .btn-connexion {
    background-color: #000000;
    color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
  
.btn-valider {
    background-color: #000000;
    color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
  
.btn-retour:hover, .btn-valider:hover, .btn-connexion:hover {
    transform: scale(1.1);
    transition: transform 0.2s;
}
