body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    width: 90%;
    margin: 50px;
  }
  
  h2 {
    font-size: 37px;
    font-family: 'Baloo 2', sans-serif;
    margin-bottom: 20px;
  }

  .tableau {
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
  }
  
  .tabs {
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
  }
  
  .tab {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .tab.active {
    background-color: #000000;
    color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .tab:not(:last-child) {
    margin-right: 5px;
  }
  
  .tab-content {
    display: none;
  }
  
  .tab-content.active {
    display: block;
  }
  
  .commande {
    display: flex;
    justify-content: space-between;
    align-items: end;
    background-color: rgba(227, 209, 200, 0.85);
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .info p {
    margin: 5px 0;
  }
  
  .actions .img {
    font-size: 18px;
    border: none;
    background: none;
    cursor: pointer;
    width: 20px;
  }

  .actions .img-admin {
    font-size: 18px;
    border: none;
    background: none;
    cursor: pointer;
    width: 18px;
  }
  
  /* Styles pour les icônes */
.actions {
  font-size: 1.4rem;
  margin-right: 3px;
  padding: 0;
  text-decoration: none;
  color: #000000; /* Couleur des icônes */
  transition: color 0.3s ease;
  cursor: pointer;
}

.actions .vert:hover {
  color: #28a745; /* Vert pour Modifier */
}

.actions .rouge:hover {
  color: #dc3545; /* Rouge pour Supprimer */
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.nav {
  border-top: 1px solid #eee;
  margin-top: 1em;
  padding-top: 0.5em;
  font: 1.2em sans-serif;

  display: flex;
  justify-content: center;
}

.pagination {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.pagination li {
  margin: 0 1px;
}

.pagination li .active {
  background-color: #000000;
  color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.pagination a {
  display: block;
  padding: 0.5em 1em;
  border: 1px solid #000000;
  border-radius: 10px;
  text-decoration: none;
}

.pagination a:hover {
  background-color: #000000;
  color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.pagination a::after {
 content: none;
}

.pagination a[aria-current="page"] {
  background-color: #333;
  color: #fff;
}