/* ================== GLOBAL ================== */
body {
  font-family: 'Vietnam Pro', sans-serif;
}

.container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin: 50px;
}


/* ================== TYPOGRAPHY ================== */
h2 {
  font-size: 32px;
  font-family: 'Baloo 2', sans-serif;
  margin-bottom: 20px;
}

span {
  font-weight: bold;
}

.bold {
  font-weight: bold;
}

/* ================== LEFT COLUMN ================== */
.left-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* ================== COLOR OPTIONS ================== */
.color-options {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr); /* 3 colonnes pour les options */
  height: 400px;
  max-height: 400px;
  overflow-y: auto;
  padding-right: 20px;
}

.color-options {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr); /* 3 colonnes pour les options */
  max-height: 400px;
  overflow-y: auto;
  padding-right: 20px;
}

/* Étape titre */
.color-options h3 {
  font-size: 1.4em;
  font-weight: bold;
  margin-bottom: 10px;
  color: #000000;
  padding-left: 10px;
  margin-top: 20px;
  grid-column: 1 / -1; /* Étendre le titre sur toute la largeur */
}

/* Options */
.color-options .option {
  text-align: center;
  font-size: 16px;
  padding: 5px;
  margin: 10px;
  border-radius: 8px;
}

.color-options .option img {
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  width: 130px;
  height: 130px;
}

.color-options .option p {
  font-weight: normal;
  margin-bottom: 3px;
}

.color-options .option span {
  display: block;
  margin-top: 5px;
  font-weight: bold;
  color: #000000;
}

/* Scrolling personnalisé */
.color-options::-webkit-scrollbar {
  width: 8px;
}

.color-options::-webkit-scrollbar-thumb {
  background-color: rgba(227, 209, 200, 0.85);
  border-radius: 4px;
}



/* ================== COLOR OPTIONS ================== */
.color-2options {
  display: grid;
  gap: 20px;
  height: 400px;
  grid-template-columns: repeat(3, 1fr); /* 3 colonnes pour les options */
  padding-right: 20px;
}

/* Étape titre */
.color-2options h3 {
  font-size: 1.4em;
  font-weight: bold;
  margin-bottom: 10px;
  color: #000000;
  padding-left: 10px;
  margin-top: 20px;
  grid-column: 1 / -1; /* Étendre le titre sur toute la largeur */
}

/* Options */
.color-2options .option {
  text-align: center;
  font-size: 16px;
  padding: 5px;
  margin: 10px;
  border-radius: 8px;
}

.color-2options .option img {
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  width: 230px;
  height: 230px;
}

.color-2options .option p {
  font-weight: normal;
  margin-bottom: 3px;
}

.color-2options .option span {
  display: block;
  margin-top: 5px;
  font-weight: bold;
  color: #000000;
}



/* ================== FOOTER ================== */
.footer-processus {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  margin-top: 80px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  margin-top: 20px;
}

.footer p {
  font-weight: 700;
  font-size: 25px;
}


.footer-processus p {
  font-weight: 700;
  font-size: 25px;
}


.footer .buttons {
  display: flex;
  gap: 15px;
}

.footer-processus .buttons {
  display: flex;
  gap: 15px;
}

.footer button {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}


.footer-processus button {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}

.btn-retour { background-color: #997765; color: #fff; }
.btn-suivant, .btn-submit-com { background-color: #000; color: #fff; }

/* ================== RIGHT COLUMN ================== */
.right-column {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  position: relative;
  padding-right: 20px;
}

.main-display {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
  margin-top: 60px;
}


.main-display-recap {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
  margin-top: 60px;
}

.main-display img {
  width: 550px;
  height: 430px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.main-display-recap img {
  width: 500px;
  height: 330px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.comment-section {
  width: 100%; /* Prend toute la largeur disponible */
  text-align: left; /* Aligne le texte et le contenu à gauche */
  margin-top: -10px; /* Ajoute un peu d'espace au-dessus */
}

/* Style du textarea */
.textarea-custom {
  width: 100%; /* Utilise 100% de la largeur de son parent */
  max-width: 600px; /* Limite la largeur à 600px */
  min-width: 300px; /* Définit une largeur minimale de 300px */
  height: 40px;
  padding: 10px;
  background-color: rgba(227, 209, 200, 0.71); /* Beige avec opacité */
  border-radius: 8px;
  font-size: 1em;
  line-height: 1.5;
  resize: vertical; /* Permet de redimensionner verticalement */
  margin-bottom: 10px;
}

/* ================== BUTTONS ================== */
.btn-aide, .btn-abandonner, .btn-submit-com {
  background-color: #997765;
  color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}

.btn-abandonner, .btn-submit-com { background-color: #000; }

.btn-aide:hover, .btn-abandonner:hover, .btn-suivant:hover, .btn-retour:hover, .btn-submit-com:hover {
  transform: scale(1.1);
  transition: transform .2s;
}

/* ================== FORM ================== */
.formulaire {
  display: flex;
  flex-direction: column;
  height: 400px;
  gap: 15px;
}

.form-row {
  display: flex;
  gap: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-bottom: 20px;
}

label {
  margin-bottom: 5px;
}

.input-field {
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: rgba(227, 209, 200, 0.71);
  transition: all 0.3s ease;
}

.input-field:focus {
  background-color: rgba(227, 209, 200, 0.85);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  outline: none;
}

/* ================== BREADCRUMBS ================== */
.fil-ariane-container {
  font-size: 14px;
  margin: 40px 0 -40px 50px;
}

.fil-ariane {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.fil-ariane li {
  margin-right: 10px;
  color: #888;
}

.fil-ariane li a {
  text-decoration: none;
  color: inherit;
}

.fil-ariane li a:hover {
  text-decoration: underline;
}

.fil-ariane li a.active {
  font-weight: bold;
  color: black;
}

.fil-ariane li:not(:last-child)::after {
  content: ">";
  margin-left: 10px;
  color: #ccc;
}

/* ================== COMPTEURS ================== */




.quantity-selector {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  margin-top: 10px;
}

.quantity-selector button {
  width: 30px;
  height: 30px;
  border: none;
  background-color: #997765;
  color: white;
  font-size: 18px;
  cursor: pointer;
  border-radius: 10px;
}

.quantity-selector input {
  width: 40px;
  text-align: center;
  font-size: 16px;
  border: none;
  border-radius: 5px;
}


.quantity-selector1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  margin-top: 10px;
}

.quantity-selector1 button {
  width: 30px;
  height: 30px;
  border: none;
  background-color: #997765;
  color: white;
  font-size: 18px;
  cursor: pointer;
  border-radius: 10px;
}

.quantity-selector1 input {
  width: 40px;
  text-align: center;
  font-size: 16px;
  border: none;
  border-radius: 5px;
}
