/* src/styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

  /* Style pour les liens du menu */
  nav ul li a {
    color: #333;
    text-decoration: none;
    position: relative;
  }
  
  nav ul li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px; /* Positionne le soulignement juste en dessous du texte */
    width: 0;
    height: 1px;
    background-color: #333;
    transition: width 0.3s ease;
  }
  
  nav ul li a:hover::after {
    width: 100%; /* Le soulignement prend toute la largeur */
  }

  
  /* Be vietnam pro */


  .be-vietnam-pro-thin {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .be-vietnam-pro-extralight {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .be-vietnam-pro-light {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .be-vietnam-pro-regular {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .be-vietnam-pro-medium {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .be-vietnam-pro-semibold {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .be-vietnam-pro-bold {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .be-vietnam-pro-extrabold {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .be-vietnam-pro-black {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .be-vietnam-pro-thin-italic {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .be-vietnam-pro-extralight-italic {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .be-vietnam-pro-light-italic {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .be-vietnam-pro-regular-italic {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .be-vietnam-pro-medium-italic {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .be-vietnam-pro-semibold-italic {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .be-vietnam-pro-bold-italic {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .be-vietnam-pro-extrabold-italic {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .be-vietnam-pro-black-italic {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  
  
  /* Baloo */
  
  .baloo-2-regular {
  font-family: "Baloo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  }
  
  .baloo-2-medium {
  font-family: "Baloo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  }
  
  .baloo-2-semi-bold {
  font-family:"Baloo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  }
  
  .baloo-2-bold {
  font-family: "Baloo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  }
  
  .baloo-2-extra-bold {
  font-family: "Baloo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  }
  
  .baloo-2-black {
  font-family: "Baloo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  }
