/* Container principal */
.container {
    align-content: center;
    margin: 50px;
    width: 90%;
}

body {
    font-family: 'Vietnam Pro', sans-serif;
}

h2 {
    font-size: 37px;
    text-align: center;
    font-family: 'Baloo 2', sans-serif;
    margin-bottom: 20px;
}

a {
    text-decoration: none; 
}

/* Responsive table container */
.tab-container {
    overflow-x: auto; /* Active le défilement horizontal si nécessaire */
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}


.styled-table {
    border-collapse: collapse;
    font-size: 0.9em;
    min-width: 600px;
    width: 100%; 
}

.styled-table thead tr {
    background-color: black;
    color: white;
    text-align: left;
}

.styled-table th, .styled-table td {
    padding: 12px 15px;
    text-align: center;
    border: none; /* Désactive toutes les bordures */
}

.styled-table tbody tr {
    background-color: #e3d1c8;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f2e9e3;
}

/* Ajustement de la colonne ACTION */
.styled-table td.actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 12px; /* Ajustez au besoin */
    border: none; /* Supprime toute bordure */
    background-color: inherit; /* Garde la couleur de fond */
}

/* Styles pour les icônes */
.actions a, .actions span {
    background-color: black;
    color: white;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 10px;
    text-align: center;
    vertical-align:bottom;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.3s ease;
    text-decoration: none;
}

.actions .vert:hover {
    background-color: #28a745; /* Vert pour Modifier */
}

.actions .rouge:hover {
    background-color: #dc3545; /* Rouge pour Supprimer */
}

 
 
/* Media query pour les très petits écrans */
@media screen and (max-width: 600px) {
    .styled-table th, .styled-table td {
        font-size: 0.8em; /* Réduit la taille de la police */
        padding: 8px; /* Réduit les marges */
    }
}
